{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/semantic.min.css" %}">
  <script src="{% static "admin/js/semantic.min.js" %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static "/admin/css/style.css" %}">
</head>

{{ searchresults }}

<a href=><img id='logosearchpos' src="{% static "/admin/img/dhoondo_logo.png" %}" width="120" height="50" align="left" border="0"></a>
